<template>

<item name="filter_list" type="entry" descript="Список зафильтрованных доменных зон">
	<tr<? if(!($entry_count % 2)){ echo ' class="even"'; } if(!empty($extraParams['action'])){ ?> onClick="document.getElementById('entry{entry_count}').click();">
		<td class="list_left">
			<input type="checkbox" name="entry[{id}]" id="entry{entry_count}" class="ch" value="1" onClick="this.click();" />
		</td<? } ?>>
		<td>{zone}</td>
		<? if(isset($sort)){ ?><td class="list_right sorter">
			<input type="text" name="sort_entry[{id}]" id="sort_entry{entry_count}" value="{sort}" />
		</td><? } ?>
	</tr>
</item>

</template>
