<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title>{title}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="{TMPL_URL}style.css" />
</head>

<body>
	<div class="error_box">
		<p><strong>{Call:Lang:templates:system/default:soobshchenie} </strong></p>
		<p>{msg}</p>
		<? if(Library::constVal('TEST_MODE')){ ?>
			<p>{place}</p>
			<p><pre>{trace}</pre></p>
		<? } ?>
	</div>
</body>
</html>