<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<title>{Call:Lang:templates:admin/default:vkhod}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=<? echo $GLOBALS['Core']->getParam('charset'); ?>" />
	<link rel="stylesheet" type="text/css" href="{TMPL_URL}css/reset.css">
	<link rel="stylesheet" type="text/css" href="{TMPL_URL}css/auth.css">
</head>

<body>
{body}
</body>
</html>