
body{	background: url('images/noler.gif');}

.empty_page{	width: 400px;
	margin: 100px auto;}

.empty_page h1{	float: left;
	clear: both;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;}

.empty_page .form{	float: left;
	width: 100%;}

